<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated Colour Palette</title>
    <style>
        .color-block {
            width: 100px;
            height: 100px;
            display: inline-block;
            margin: 5px;
        }
    </style>
</head>
<body>
    <h1>Generated Colour Palette</h1>
    <div>
        {% for color in palette %}
            <div class="color-block" style="background-color: rgb({{ color[0] }}, {{ color[1] }}, {{ color[2] }});"></div>
        {% endfor %}
    </div>
    <br>
    <a href="/">Upload another image</a>
</body>
</html>
